*{
    background-image: url(pastel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   }
  
   a{
    text-decoration: none;
    color: black;
   }
   li{
    font-size: 30px;
   }